@import "colors";
*{
  margin: 0;
  padding: 0;
}

body{
  background: rgba(21, 93, 199, 0.35);
}
.top-navbar{
  background: $primaryColor;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  a{
    align-items: center;
    text-decoration: none;
    color: $secondaryColor;
    font-size: 19px;
    font-weight: 900;
    font-family: cursive;
    padding: 3px 10px;
    &:hover{
      color: $primaryColor;
      background: $secondaryColor;
    }
  }
}
hr {
  color: $secondaryColor;
}